body{
    padding:0px;
    width: 100%;
    height: 100%;
    margin: 0 px auto;
}

#menu{
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#creditos{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#juego{
    display: none;
}

#fondoMenu{
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

#fondoCreditos{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


#logoJuego{
    top:-480px;
    right: -70px;
    position: relative;
    width: 50%;

}

#fondoTextoJugar{
    position: relative;
    top: -330px;
    right: 85px;
    height: 36px;
    margin: 0px;
}

#imagenJugar{
    position: relative;
    height:25px;
    top:-363px;
    right: -80px;
}



#fondoTextoCreditos{
    position: relative;
    top: -300px;
    right: 0px;
    height: 23px;
    margin: 0px;
   
}

#creditosTexto{
    position: relative;
    height:18px;
    top:-303px;
    right: 70px;
   
}


#creditosContenido{
    position: relative;
    top: -590px;
    width: 70%;
    right: -30px;

}

#fondoBtnAtrasCreditos{
    position: relative;
    top: -540px;
    width: 10%;
    right: 250px;
}

#btnAtrasCreditos{
    position: relative;
    top: -547px;
    width: 5%;
    right: 282px;
    transform: rotate(200grad);
}

#pantallaCargaHistoria{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#fondoCargaHistoria{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

#contenidoCargaHistoria{
    position: relative;
    top: -492px;
    right: -40px;
    width: 70%;

}

#fondoBtnAdelanteJugar{
    position: relative;
    top: -340px;
    width: 10%;
    right: -10px;
}

#btnAdelanteJugar{
    position: relative;
    top: -345px;
    width: 5%;
    right: 20px;
}

#pantallaCargaControles{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#tituloControles{
    position: relative;
    top: -532px;
    right: 0px;
}

#imagneControles{
    position: relative;
    top: -435px;
    right: 0px;
    width: 270px;
}

#textoRotar{
    position: relative;
    top: -405px;
    right: 265px;
    width: 50px;
}

#lineaRotar{
    position: relative;
    top: -430px;
    right: 300px;
    width: 2px;
}

#textoBajar{
    position: relative;
    top: -445px;
    right: 45px;
    width: 50px;
}
#lineaBajar1{
    position: relative;
    top: -455px;
    right: 20px;
    width: 2px;
}

#lineaBajar2{
    position: relative;
    top: -455px;
    right: 54px;
    width: 30px;
}

#botonesMenu{
    position: relative;
    margin: 0px auto;
    top: -150px; 
}


#tetris{
    width: 200px;
    height: 400px;
}

#score{
    width: 50px;
}

#lines{
    width: 50px;
}

#level{
    width: 50px;
}



