body{
    padding:0px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#menu{
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#creditos{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#juego{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    width: 466px;
}

#fondoMenu{
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

#fondoCreditos{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


#logoJuego{
    top:-480px;
    right: -70px;
    position: relative;
    width: 50%;

}

#fondoTextoJugar{
    position: relative;
    top: -330px;
    right: 85px;
    height: 36px;
    margin: 0px;
}

#imagenJugar{
    position: relative;
    height:25px;
    top:-363px;
    right: -80px;
}



#fondoTextoCreditos{
    position: relative;
    top: -300px;
    right: 0px;
    height: 23px;
    margin: 0px;
   
}

#creditosTexto{
    position: relative;
    height:18px;
    top:-303px;
    right: 70px;
   
}


#creditosContenido{
    position: relative;
    top: -590px;
    width: 70%;
    right: -30px;

}

#fondoBtnAtrasCreditos{
    position: relative;
    top: -540px;
    width: 10%;
    right: 250px;
}

#btnAtrasCreditos{
    position: relative;
    top: -547px;
    width: 5%;
    right: 282px;
    transform: rotate(200grad);
}

#pantallaCargaHistoria{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#fondoCargaHistoria{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

#contenidoCargaHistoria{
    position: relative;
    top: -492px;
    right: -40px;
    width: 70%;

}

#fondoBtnAdelanteJugar{
    position: relative;
    top: -340px;
    width: 10%;
    right: -10px;
}

#btnAdelanteJugar{
    position: relative;
    top: -345px;
    width: 5%;
    right: 20px;
}

#pantallaCargaControles{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#tituloControles{
    position: relative;
    top: -532px;
    right: 0px;
}

#imagneControles{
    position: relative;
    top: -435px;
    right: 0px;
    width: 270px;
}

#textoRotar{
    position: relative;
    top: -405px;
    right: 265px;
    width: 50px;
}

#lineaRotar{
    position: relative;
    top: -430px;
    right: 300px;
    width: 2px;
}

#textoBajar{
    position: relative;
    top: -595px;
    right: -100px;
    width: 50px;
}
#lineaBajar1{
    position: relative;
    top: -595px;
    right: -140px;
    width: 2px;
}

#lineaBajar2{
    position: relative;
    top: -595px;
    right: -104px;
    width: 30px;
}

#textoDesplazar{
    position: relative;
    top: -595px;
    right: -154px;
    width: 80px;
}

#lineaDesplazar1{
    position: relative;
    top: -620px;
    right: -80px;
    width: 2px;
}

#lineaDesplazar2{
    position: relative;
    top: -640px;
    right: -115px;
    width: 2px;
}

#lineaDesplazar3{
    position: relative;
    top: -848px;
    right: 50px;
    width: 160px; 
}

#lineaDesplazar4{
    position: relative;
    top: -770px;
    right: 216px;
    width: 2px;
}

#fondoBtnAdelanteIniciarJuego{
    position: relative;
    top: -505px;
    width: 10%;
    right: -140px;
}

#btnAdelanteIniciarJuego{
    position: relative;
    top: -510px;
    width: 5%;
    right: -110px;
}

#botonesMenu{
    position: relative;
    margin: 0px auto;
    top: -150px; 
}

#tetris{
    position: relative;
    width: 240px;
    height: 400px;
    top:-933px;
    right: 50px;
    z-index: 1;
    
}

#fondoPiezaSiguiente{
    position: relative;
    top: -570px;
    right: 149px;
    width:60px;
    height: 60px;
}

#nextPiece{
    position: relative;
    top: -1273px;
    right: 70px;
    width:60px;
    height: 60px;

}

#fondoContadorNivel{
    position: relative;
    top: -461px;
    right: 217px;
}

#textoNivel{
    position: relative;
    top:-448px;
    right: 255px;
}

#level{
    position: relative;
    width: 50px;
    top:-493px;
    right: -9px;
    color: white;
}

#fondoContadorPuntos{
    position: relative;
    top: -465px;
    right: 180px;
}

#textoPuntos{
    position: relative;
    top:-450px;
    right: 218px;
}

#score{
    width: 50px;
    position: relative;
    width: 50px;
    top:-495px;
    right: -10px;
    color: white;
}

#fondoContadorTiempo{
    position: relative;
    top: -460px;
    right: 180px;
}

#textoTiempo{
    position: relative;
    top:-445px;
    right: 218px;
}

#time{
    width: 50px;
    position: relative;
    width: 50px;
    top:-508px;
    right: -10px;
    color: white;
}
#fondoContadorLineas{
    position: relative;
    top: -490px;
    right: 180px;
}

#textoLineas{
    position: relative;
    top:-475px;
    right: 218px;
}

#lines{
    width: 50px;
    position: relative;
    width: 50px;
    top:-518px;
    right: -10px;
    color: white;
}

#fondoVolumen{
    position: relative;
    top: -480px;
    right: 130px;
}

#imagenVolumen{
    position: relative;
    top:-485px;
    right: 163px;
}

#imagenPausa{
    position: relative;
    top:-440px;
    right: 195px;
}

#fondoHome{
    position: relative;
    top: -401px;
    right: 231px;
}

#imagenHome{
    position: relative;
    top:-407px;
    right: 261px;
}

#ubicacionBtnControles{
    position: relative;
    top:-435px;
    right: 0px;
}

#btnRotar{
    position: relative;
    top:0px;
    right: 0px;
}

#btnArriba{
    position: relative;
    top:-15px;
    right: -63px;
}

#btnDerecha{
    position: relative;
    top:0px;
    right: -46px;
}

#btnIzquierda{
    position: relative;
    top:0px;
    right: 46px;
}

#btnAbajo{
    position: relative;
    top:29px;
    right: 63px;
}


#ubicacionPausa{
    display:none;
    position: relative;
    top: -933px;
    right: -95px;
    height: 400px;
    width: 240px;
    z-index: 2;
}

#fondoPausa{
    position: relative;
    top: 149px;
    right: 0px;
}

#juegoPausado{
    position: relative;
    top: 65px;
    right: 0px;
}

#textoPausado{
    position: relative;
    top: 79px;
    right: 0px;
}
